---
// @ts-ignore
import { Icon } from "astro-icon";
---

<icon name="logo_negro.svg" />

<div id="partnerships" class="mt-24">
  <h2 class="text-center text-slate-500">Confirmed partnerships</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-20" name="simple-icons:ethereum" />
    <Icon class="h-8 md:h-20" name="simple-icons:astro" />
  </div>
</div>
